[package]
name = "cargo-espflash"
version = "3.0.0-dev"
edition = "2021"
rust-version = "1.70"
description = "Cargo subcommand for flashing Espressif devices"
repository = "https://github.com/esp-rs/espflash"
license = "MIT OR Apache-2.0"
keywords = [
    "cargo",
    "cli",
    "embedded",
    "esp",
]
categories = [
    "command-line-utilities",
    "development-tools",
    "development-tools::cargo-plugins",
    "embedded",
]

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/v{ version }/{ name }-{ target }.{ archive-format }"
bin-dir = "{ bin }{ binary-ext }"
pkg-fmt = "zip"

[dependencies]
cargo_metadata = "0.18.0"
clap = { version = "4.4.6", features = ["derive", "wrap_help"] }
env_logger = "0.10.0"
esp-idf-part = "0.4.1"
espflash = { version = "3.0.0-dev", path = "../espflash" }
log = "0.4.20"
miette = { version = "5.10.0", features = ["fancy"] }
serde = { version = "1.0.188", features = ["derive"] }
thiserror = "1.0.49"
toml = "0.8.2"

[target.'cfg(unix)'.dependencies]
cargo = { version = "0.73.1", features = ["vendored-openssl"] }

[target.'cfg(windows)'.dependencies]
cargo = "0.73.1"
