[package]
name = "cargo-espflash"
version = "0.1.2"
description = "Cargo subcommand for flashing the ESP8266 and ESP32 over serial"
license = "GPL-2.0"
authors = [
    "Robin Appelman <robin@icewind.nl>",
    "Jesse Braham <jesse@beta7.io>",
]
repository = "https://github.com/icewind1991/espflash"
edition = "2018"

[dependencies]
cargo-project = "0.2.4"
espflash = { version = "0.1.2", path = "../espflash" }
pico-args = "0.3.4"
serial = "0.4"
color-eyre = "0.5.10"
