[package]
name = "espflash"
version = "1.4.1"
authors = [
    "Robin Appelman <robin@icewind.nl>",
    "Jesse Braham <jesse@beta7.io>",
]
edition = "2021"
rust-version = "1.56"
license = "GPL-2.0"
description = "ESP8266 and ESP32 serial flasher"
repository = "https://github.com/esp-rs/espflash"
exclude = ["tests/data"]

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/v{ version }/{ name }"
pkg-fmt = "bin"

[[bin]]
name = "espflash"
path = "src/main.rs"

[lib]

[dependencies]
binread = "2.2"
bytemuck = { version = "1.9", features = ["derive"] }
indicatif = "0.16"
md5 = "0.7"
clap = { version = "3.1", features = ["derive"] }
serialport = "4.1"
sha2 = "0.10"
slip-codec = "0.3"
thiserror = "1.0"
xmas-elf = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_plain = "1.0"
toml = "0.5"
strum = "0.24"
strum_macros = "0.24"
csv = "1.1"
regex = "1.5"
flate2 = "1.0"
miette = { version = "4.3", features = ["fancy"] }
crossterm = "0.23"
directories-next = "2.0"
dialoguer = "0.10"
serde-hex = "0.1"
espmonitor = "0.7.0"
