[package]
name = "espflash"
version = "1.6.1-dev"
authors = [
    "Robin Appelman <robin@icewind.nl>",
    "Jesse Braham <jesse@beta7.io>",
]
edition = "2021"
rust-version = "1.59"
description = "A command-line tool for flashing Espressif devices over serial"
repository = "https://github.com/esp-rs/espflash"
license = "GPL-2.0"
keywords = [
    "cli",
    "embedded",
    "esp",
    "xtensa",
]
categories = [
    "command-line-utilities",
    "development-tools",
    "embedded",
]
exclude = ["tests/data"]
default-run = "espflash"

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/v{ version }/{ name }-{ target }.{ archive-format }"
bin-dir = "{ bin }{ binary-ext }"
pkg-fmt = "zip"

[[bin]]
name = "espflash"
path = "./src/bin/espflash.rs"
required-features = [ "cli" ]

[features]
cli = ["dep:crossterm", "dep:dialoguer", "dep:clap", "dep:update-informer"]

[dependencies]
base64 = "0.13.0"
binread = "2.2"
bytemuck = { version = "1.11", features = ["derive"] }
clap = { version = "3.2", features = ["derive", "env"], optional = true }
comfy-table = "6.0"
crossterm = { version = "0.24", optional = true }
csv = "1.1"
dialoguer = { version = "0.10", optional = true }
directories-next = "2.0"
espmonitor = "0.10"
flate2 = "1.0"
indicatif = "0.17"
log = "0.4.17"
maplit = "1.0"
md5 = "0.7"
miette = { version = "5.2", features = ["fancy"] }
parse_int = "0.6"
regex = "1.6"
serde = { version = "1.0", features = ["derive"] }
serde-hex = "0.1"
serde_json = "1.0.83"
serde_plain = "1.0"
serialport = "4.2"
tracing-subscriber = { version = "0.3.11", features = [ "env-filter" ] }
sha2 = "0.10"
slip-codec = "0.3"
strum = "0.24"
strum_macros = "0.24"
thiserror = "1.0"
toml = "0.5"
xmas-elf = "0.8"
update-informer = { version = "0.5", optional = true }
