name: HIL

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  merge_group:
  workflow_dispatch:
    inputs:
      repository:
        description: "Owner and repository to test"
        required: true
        default: "esp-rs/espflash"
      branch:
        description: "Branch, tag or SHA to checkout."
        required: true
        default: "main"

env:
  CARGO_TERM_COLOR: always
  RUST_LOG: debug

# Cancel any currently running workflows from the same PR, branch, or
# tag when a new workflow is triggered.
#
# https://stackoverflow.com/a/66336834
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  build-packages:
    name: Build packages
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ github.event.inputs.repository || github.repository }}
          ref: ${{ github.event.inputs.branch || github.ref }}

      - name: Install cross
        uses: taiki-e/install-action@v2
        with:
          tool: cross

      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2

      - name: Build espflash
        run: |
          cross build --release --target armv7-unknown-linux-gnueabihf
          cross build --release --target aarch64-unknown-linux-gnu
        working-directory: espflash

      - name: Build xtask
        run: |
          cross build --release --target armv7-unknown-linux-gnueabihf
          cross build --release --target aarch64-unknown-linux-gnu
        working-directory: xtask

      - uses: actions/upload-artifact@v4
        with:
          name: espflash-armv7
          path: target/armv7-unknown-linux-gnueabihf/release/espflash
          if-no-files-found: error

      - uses: actions/upload-artifact@v4
        with:
          name: espflash-aarch64
          path: target/aarch64-unknown-linux-gnu/release/espflash
          if-no-files-found: error
      - uses: actions/upload-artifact@v4
        with:
          name: xtask-armv7
          path: target/armv7-unknown-linux-gnueabihf/release/xtask
          if-no-files-found: error

      - uses: actions/upload-artifact@v4
        with:
          name: xtask-aarch64
          path: target/aarch64-unknown-linux-gnu/release/xtask
          if-no-files-found: error
  run-packages:
    if: github.repository_owner == 'esp-rs'
    name: ${{ matrix.target.soc }} esp-hal
    needs: build-packages
    runs-on: [self-hosted, "${{ matrix.target.runner }}"]

    strategy:
      fail-fast: false
      matrix:
        target:
          # - soc: esp32c2
          #   runner: esp32c2-jtag
          #   host: aarch64
          # - soc: esp32c3
          #   runner: esp32c3-usb
          #   host: armv7
          - soc: esp32c6
            runner: esp32c6-usb
            host: armv7
          # - soc: esp32h2
          #   runner: esp32h2-usb
          #   host: armv7
          # - soc: esp32
          #   runner: esp32-jtag
          #   host: aarch64
          - soc: esp32s2
            runner: esp32s2-jtag
            host: armv7
          # - soc: esp32s3
          #   runner: esp32s3-usb
          #   host: armv7

    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: espflash-armv7
          path: espflash_app

      - uses: actions/download-artifact@v7
        with:
          name: xtask-armv7
          path: xtask_app

      - name: Set up espflash binary
        run: |
          chmod +x espflash_app/espflash
          chmod +x xtask_app/xtask
          echo "$PWD/espflash_app" >> "$GITHUB_PATH"
          echo "$PWD/xtask_app" >> "$GITHUB_PATH"

      - name: Check connections
        run: lsusb

      - name: Run all tests
        run: xtask_app/xtask run-tests --chip ${{ matrix.target.soc }} -t 60 --no-build
