name: Release

on:
  release:
    types: [created]

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    name: ${{ matrix.platform.target }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          # Linux
          - os: "ubuntu-22.04"
            target: "x86_64-unknown-linux-gnu"
            arch: "x86_64"
          - os: "ubuntu-22.04"
            target: "x86_64-unknown-linux-musl"
            arch: "x86_64"
          - os: "ubuntu-22.04"
            target: "aarch64-unknown-linux-gnu"
            arch: "arm64"
            features: "--features=raspberry"
          - os: "ubuntu-22.04"
            target: "armv7-unknown-linux-gnueabihf"
            arch: "armhf"
            features: "--features=raspberry"
          # Windows
          - os: "windows-2022"
            target: "x86_64-pc-windows-msvc"
            arch: "x86_64"
          # macOs
          - os: "macos-12"
            target: "aarch64-apple-darwin"
            # This is not true, but simplifies the logic of the action.
            arch: "x86_64"
          - os: "macos-12"
            target: "x86_64-apple-darwin"
            arch: "x86_64"
    runs-on: ${{ matrix.platform.os }}
    steps:

      - uses: actions/checkout@v4

      - uses: ./.github/actions/package
        with:
          arch: ${{ matrix.platform.arch }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          features: ${{ matrix.platform.features }}
          target: ${{ matrix.platform.target }}
          runs_on: ${{ matrix.platform.os }}
